<header class="header" id="site-header">
  <div class="header-container container">
    <a class="header-link" href="index.html#Home">Cave Miner: Clicker Game</a>
    <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 6H21V8H3V6ZM3 11H21V13H3V11ZM3 16H21V18H3V16Z" fill="white" />
          </svg>
      </span>
    </button>
    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="index.html#Home">Home</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#About">About</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Features">Features</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#FAQ">FAQ</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Reviews">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li><a class="menu-list-item" href="index.html#Home">Home</a></li>
    <li><a class="menu-list-item" href="index.html#About">About</a></li>
    <li>
      <a class="menu-list-item" href="index.html#Features">Features</a>
    </li>
    <li><a class="menu-list-item" href="index.html#FAQ">FAQ</a></li>
    <li><a class="menu-list-item" href="index.html#Reviews">Reviews</a></li>
  </ul>
</div>